body{
    font-family: Arial;
    font-size: 14px;
}

.labelPadrao{
    font-size: 12px;
    font-style: bold;
}

#labelApelido{
    color: blue;
}

.btnPadrao{
    width: 100px;
    font-weight: bold;
    background-color: blue;
    color: white;
}
